h1[draggable="true"]{
    color: blue;
    background-color: antiquewhite;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 4  00;
    font-style: normal;
}  
#an{
    background-color: azure;
}
